<h1>Sign In</h1>

<p>
  Not a member yet?
  You can <%= link_to "sign up here", signup_path %>
</p>

<p>
  Sign in with either entering you username or your email address
</p>

<%= form_with(url: session_path) do |f| %>

  <%= f.label :email_or_username %>
  <%= f.text_field :email_or_username, autofocus: true, required: true %>

  <%= f.label :password %>
  <%= f.password_field :password, required: true %>

  <%= f.submit "Sign In" %>
<% end %>

