<section class="user">
  <h1>
    <%= @user.name %>
    <% unless @user.username.blank? %>
      (<%= @user.username %>)
    <% end %>
  </h1>
  <%= profile_image(@user) %>
  
  <h2><%= mail_to(@user.email) %></h2>
  <p>
    Member since <%= @user.created_at.strftime("%B %Y") %>
  </p>
  
  <div class="actions">
    <% if current_user_same_as?(@user) || current_user_admin? %>
        <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
    <% end %>
    <% if current_user_admin? %>
        <%= link_to "Delete Account", @user, data: {turbo_method: :delete, turbo_confirm: "Are you sure? "}, class: "button delete" %>
    <% end %>
  </div>

  <% if @reviews.present? %>
    <h3>Reviews</h3>
    <% @reviews.each do |review| %>
      <div class="review">
        <div class="details">
          <span class="title">
            <%= link_to review.movie.title, review.movie %>
          </span>
          <%= render "shared/stars", percent: review.stars_as_percent %>
          <span class="date">
            <%= time_ago_in_words(review.created_at) %> ago
          </span>
          <p>
            <%= review.comment %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>

</section>