<h1>New review for <%= link_to @movie.title, @movie %></h1>

<%= form_with(model: [@movie, @review]) do |f| %>

  <%= render "shared/errors", ar_object: @review %>

 <!-- 
  <%= f.label :stars %>
  <%= f.select :stars, Review::STARS, prompt: "How many stars?" %>
  -->
<div class="legend"><strong>Stars</strong></div>
<% Review::STARS.each do |star| %>
  <span class="star">
    <%= f.radio_button :stars, star %>
    <%= f.label :stars, star, value: star %>
  </span>
<% end %>

  <%= f.label :comment %>
  <%= f.text_area :comment, rows: 5, placeholder: "What did you think?" %>

  <%= f.submit "Post Review" %>
<% end %>